body{
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
    "header header header "
    "aside main main "
    "footer footer footer";
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 100vh auto;
}


footer{
    border: 1px solid black;
}
footer:hover{
    background-color: rgb(214, 1, 1);
}
footer::after{
    content: 'Curtiu o site? avalia nos Classificados';
}
header{
    grid-area: header;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
    overflow-y: scroll;
}


header,aside,main,footer{
    background-color: black;
    color: violet;
    padding: 16px;
}
footer{
    grid-area: footer;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: red;

}
aside ol li a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: purple;
    text-decoration: underline;
}
a:visited{
    color: violet;
}