header{
    background-color: black;
    color: rgb(255, 0, 255);
}


body{
margin-left: 32px;
margin-right: 32px;
background-color: black;
background-repeat: no-repeat;
background-size: 100%;
}
.card,article{
    color: yellow;
    border: 1px solid lightgray;
    background-image:linear-gradient(black, black);
    padding: 16px;
    margin-bottom: 8px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 8px 8px 16px rgb(255, 0, 255);
}

article{
    width: 300px;
}
section{
    display: flex;
    flex-direction: column-reverse;
}