header{
    background-color: black;
    color: rgb(167, 158, 167);
}


body{
margin-left: 32px;
margin-right: 32px;
background-image: url(https://thumbs.dreamstime.com/b/nahtloses-muster-mit-geometrischen-verzierungen-blau-und-wei%C3%9F-vector-illustration-165829910.jpg);
}
.card,article{
    color: yellow;
    border: 1px solid lightgray;
    background-image:linear-gradient(black, black);
    padding: 16px;
    margin-bottom: 8px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 8px 8px 16px purple;
}

article{
    width: 300px;
}
section{
    display: flex;
    flex-direction: column-reverse;
}