.texto-simples{
    color: aquamarine;
}
#texto-complexo{
    color: rgb(128, 0, 255);
}
.texto-translucido{
    color: rgba(255, 0, 0, 0.5);
}

.back-simples{
    background-color: #000000;
}

.back-translucido{
    background-color: rgba(0, 255, 0, 0.3);
}

.back-imagem-unica{
    background-image: url('img/css-3.png');
    background-repeat: no-repeat;
}
.posicao-especifica{
    background-position: center;
    background-attachment: fixed;
}